# Configuration file for task_schedule.pl for astromon

subject           astromon update
timeout           86400             # Default tool timeout
heartbeat_timeout 1                 # Maximum age of heartbeat file (seconds)
iterations        1                 # Run once then shut down task_schedule
print_error       1                 # Print full log of errors
disable_alerts    0                 # Don't disable alerts since this jobs runs just once/day
loud              0                 # Run loudly or quietly (production mode)

# Data files and directories.  The *_dir vars can have $ENV{} vars which
# get interpolated.  (Note lack of task name after TST_DATA because this is just for test).

data_dir     $ENV{SKA}/data/astromon/tasks       # Data file directory
log_dir      $ENV{SKA}/data/astromon/logs  # Log file directory
heartbeat    update_heartbeat
#bin_dir     ///     # Bin dir (optional, see task def'n)
master_log   astromon_update.log             # Composite master log (created in log_dir)

# Email addresses that receive an alert if there was a severe error in
# running jobs (i.e. couldn't start jobs or couldn't open log file).
# Processing errors *within* the jobs are caught with watch_cron_logs

alert        javier.gonzalez@cfa.harvard.edu
notify       javier.gonzalez@cfa.harvard.edu

 notify_msg <<NOTIFY
  Astromon ran
NOTIFY


<task astromon_update>
  cron       * * * * *
  check_cron * * * * *
  exec 1: cp $ENV{SKA}/data/astromon/astromon.h5 $ENV{SKA}/data/astromon/tmp
  exec 1: astromon-cross-match --archive-dir $ENV{SKA}/data/astromon/tmp --db-file $ENV{SKA}/data/astromon/tmp/astromon.h5
  exec 1: chown -R :aspect $ENV{SKA}/data/astromon/tmp/obs*
  exec 1: cp -fr $ENV{SKA}/data/astromon/tmp/obs* $ENV{SKA}/data/astromon/archive
  exec 1: rm -fr $ENV{SKA}/data/astromon/tmp/obs*
  exec 1: mv $ENV{SKA}/data/astromon/tmp/astromon.h5 $ENV{SKA}/data/astromon/
  exec 1: astromon-web-pages --out $ENV{SKA}/data/astromon/web/mta
  <check>
    <error>
      #    File                  Expression
      #  ----------             ---------------------------
      astromon_update.log       error
      astromon_update.log       warning
      astromon_update.log       fail
      astromon_update.log       fatal
    </error>
  </check>
</task>
